<% provide(:title, "Log in") %>


 <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <%= form_for(:session, url: admin_path) do |f| %>

                          <%= f.label :name %>
                          <%= f.text_field :name, class: 'form-control' %>
                          <br><br>
                          <%= f.label :password %>
                          <%= f.password_field :password, class: 'form-control' %>
                          <br><br>
                          <%= f.submit "Log in", class: "btn btn-primary" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>