<% provide(:title, "About") %>

<div class="row">
    <div class="col-lg-12" style="margin-top: 15px;">
        <h1 class="page-header">About-Section</h1>
    </div>
</div>
<!-- Page Head -->

<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                Form
            </div>
            <div class="panel-body">
                <div class="form-group col-lg-8">
                    <%= form_for(@user) do |f| %>

                      <%= f.label :fullname %>
                      <%= f.text_field :fullname, class: 'form-control' %>
                      <br>
                      <%= f.label :title %>
                      <%= f.text_field :title, class: 'form-control' %>
                      <br>
                      <%= f.label :born_on %>
                      <%= f.date_field :born_on, class: 'form-control' %>
                      <br>
                      <%= f.label :address %>
                      <%= f.text_area :address, class: 'form-control', size: "60x3"%>
                      <br>
                      <%= f.label :zip_code %>
                      <%= f.text_field :zip_code, class: 'form-control'%>
                      <br>
                      <%= f.label :email %>
                      <%= f.email_field :email, class: 'form-control' %>
                      <br>
                      <%= f.label :phone %>
                      <%= f.telephone_field :phone, class: 'form-control' %>
                      <br>
                      <%= f.label :say_hello %>
                      <%= f.text_area :say_hello, class: 'form-control', size: "60x4" %>
                      <br>
                      <%= f.submit "Update", class: "btn btn-primary" %>

                    <% end %>
                </div>      
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row theme-color-e83b35 theme-skin-light">
    <div class="col-lg-10">
        <div class="panel panel-danger">
            <%= render 'single_page/about' %>
        </div>
    </div>
</div>
<!-- /.row -->

