<!-- First Section / About Section in personal page-->
<section id="about" class="section section-about">
    <div class="animate-up">
        <div class="section-box">
            <div class="profile">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="profile-photo"><img src="../img/uploads/rs-photo-v1.jpg" alt="Anugrah Rochmat"/></div>
                    </div>
                    <div class="col-xs-7">
                        <div class="profile-info">
                            <div class="profile-preword"><span>Hello</span></div> <% @users.each do |user| %>
                            <h1 class="profile-title"><span>I'm</span> <%= user.fullname %> </h1> 
                            <h2 class="profile-position"><%= user.title %></h2></div>
                        <ul class="profile-list">
                            <li class="clearfix">
                                <strong class="title">Age</strong>
                                <span class="cont"><%= user.born_on %></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Address</strong>
                                <span class="cont"><%= user.address %></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Zip Code</strong>
                                <span class="cont"><%= user.zip_code %></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">E-mail</strong>
                                <span class="cont"><a href="mailto:anugrah.rochmat@gmail.com"><%= user.email %></a></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Phone</strong>
                                <span class="cont"><a href="#"><%= user.phone %></a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profile-social">
                <ul class="social">
                    <li><a class="ripple-centered" href="https://www.facebook.com" target="_blank"><i
                            class="rsicon rsicon-facebook"></i></a></li>
                    <li><a class="ripple-centered" href="https://twitter.com" target="_blank"><i
                            class="rsicon rsicon-twitter"></i></a></li>
                    <li><a class="ripple-centered" href="https://www.linkedin.com" target="_blank"><i
                            class="rsicon rsicon-linkedin"></i></a></li>
                    <li><a class="ripple-centered" href="https://plus.google.com" target="_blank"><i
                            class="rsicon rsicon-google-plus"></i></a></li>
                    <li><a class="ripple-centered" href="https://www.instagram.com" target="_blank"><i
                            class="rsicon rsicon-instagram"></i></a></li>
                </ul>
            </div>
        </div>

<!--Say hello from me Section -->            
        <div class="section-txt-btn">
            <p><a class="btn btn-lg btn-border ripple" target="_blank"
                  href="#">Download Resume</a></p>

            <p><%= user.say_hello %></p>
        </div>
    </div>
</section>
<% end %>
<!-- #about -->