<!-- Contact Section -->            
<!-- Sent it automatically sent to my email and give me a notification if someone trying to contact me. -->

<section id="contact" class="section section-contact">
    <div class="animate-up">
        <h2 class="section-title">Contact Me</h2>

        <div class="section-box contact-form">
            <h3>Feel free to contact me</h3>

            <form class="rsForm" action="php/mailsender.php" method="post">
                <div class="input-field">
                    <label>Name</label>
                    <input type="text" name="rsName" value="">
                    <span class="line"></span>
                </div>

                <div class="input-field">
                    <label>Email</label>
                    <input type="email" name="rsEmail" value="">
                    <span class="line"></span>
                </div>

                <div class="input-field">
                    <label>Subject</label>
                    <input type="text" name="rsSubject" value="">
                    <span class="line"></span>
                </div>

                <div class="input-field">
                    <label>Message</label>
                    <textarea rows="4" name="rsMessage"></textarea>
                    <span class="line"></span>
                </div>

                <span class="btn-outer btn-primary-outer ripple">
                    <input class="rsFormSubmit btn btn-lg btn-primary" type="submit" value="Send">
                </span>
            </form>
        </div>
    </div>
</section>
<!-- #contact -->
