<!-- Education Section -->            
            <section id="education" class="section section-education">
                <div class="animate-up">
                    <h2 class="section-title">Education</h2>
            
                    <div class="timeline">
                        <div class="timeline-bar"></div>
                        <div class="timeline-inner clearfix">
            
                            <div class="timeline-box timeline-box-compact timeline-box-left">
                                <span class="dot"></span>
            
                                <div class="timeline-box-inner animate-right">
                                    <span class="arrow"></span>
            
                                    <div class="date"><span>2012 - 2014</span></div>
                                    <h3>Master of Information Technology</h3>
                                    <h4>MIT&T</h4>
                                </div>
                            </div>
            
                            <div class="timeline-box timeline-box-compact timeline-box-right">
                                <span class="dot"></span>
            
                                <div class="timeline-box-inner animate-left">
                                    <span class="arrow"></span>
            
                                    <div class="date"><span>2008 - 2012</span></div>
                                    <h3>Bachelor Computer Engineering</h3>
                                    <h4>Harwarg Universitey</h4>
                                </div>
                            </div>
            
                            <div class="timeline-box timeline-box-compact timeline-box-left">
                                <span class="dot"></span>
            
                                <div class="timeline-box-inner animate-right">
                                    <span class="arrow"></span>
            
                                    <div class="date"><span>2007 - 2008</span></div>
                                    <h3>Certificate for courses of Computer Science</h3>
                                    <h4>Stanfoorb Universitey</h4>
                                </div>
                            </div>
            
                            <div class="timeline-box timeline-box-compact timeline-box-right">
                                <span class="dot"></span>
            
                                <div class="timeline-box-inner animate-left">
                                    <span class="arrow"></span>
            
                                    <div class="date"><span>2007 - 2008</span></div>
                                    <h3>1 week Courses of Information Systems</h3>
                                    <h4>Oxforz Universitey</h4>
                                </div>
                            </div>
            
                            <div class="timeline-box timeline-box-compact timeline-box-left">
                                <span class="dot"></span>
            
                                <div class="timeline-box-inner animate-right">
                                    <span class="arrow"></span>
            
                                    <div class="date"><span>2006 - 2007</span></div>
                                    <h3>Software Engineering</h3>
                                    <h4>Sordonne University</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- #education -->