<!-- Interest Section -->            
<!-- Need to tweak more. JS Stuff.
Icon interest click show a different sentence about how i like that stuff and choose it as a hobby or just an interest activity -->

            <section id="interests" class="section section-interests">
                <div class="animate-up">
                    <h2 class="section-title">My Interests</h2>
            
                    <div class="section-box">
                        <p>I have a keen interest in photography. I was vice-president of the photography club during my time at
                            university,
                            and during this period I organised a number of very successful exhibitions and events both on and off
                            campus.
                            <br/>I also play the piano to grade 8 standard.</p>
            
                        <ul class="interests-list">
                            <li>
                                <i class="map-icon map-icon-bicycling"></i>
                                <span>Bicycling</span>
                            </li>
                            <li>
                                <i class="map-icon map-icon-movie-theater"></i>
                                <span>Watch Movies</span>
                            </li>
                            <li>
                                <i class="map-icon map-icon-ice-skating"></i>
                                <span>Skating</span>
                            </li>
                            <li>
                                <i class="map-icon map-icon-shopping-mall"></i>
                                <span>Shopping</span>
                            </li>
                            <li>
                                <i class="map-icon map-icon-tennis"></i>
                                <span>Playing Tennis</span>
                            </li>
                            <li>
                                <i class="map-icon map-icon-bowling-alley"></i>
                                <span>Playing Bowling</span>
                            </li>
                            <li>
                                <i class="map-icon map-icon-swimming"></i>
                                <span>Swimming</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- #interests -->