
<!-- Skills Section -->            
            <section id="skills" class="section section-skills">
                <div class="animate-up">
                    <h2 class="section-title">Professional Skills</h2>
            
                    <div class="section-box">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="progress-bar">
                                    <div class="bar-data">
                                        <span class="bar-title">Wordpress</span>
                                        <span class="bar-value">80%</span>
                                    </div>
                                    <div class="bar-line">
                                        <span class="bar-fill" data-width="51%"></span>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-sm-6">
                                <div class="progress-bar">
                                    <div class="bar-data">
                                        <span class="bar-title">JavaScript</span>
                                        <span class="bar-value">52%</span>
                                    </div>
                                    <div class="bar-line">
                                        <span class="bar-fill" data-width="67%"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="progress-bar">
                                    <div class="bar-data">
                                        <span class="bar-title">Drupal</span>
                                        <span class="bar-value">61%</span>
                                    </div>
                                    <div class="bar-line">
                                        <span class="bar-fill" data-width="79%"></span>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-sm-6">
                                <div class="progress-bar">
                                    <div class="bar-data">
                                        <span class="bar-title">HTML & CSS</span>
                                        <span class="bar-value">89%</span>
                                    </div>
                                    <div class="bar-line">
                                        <span class="bar-fill" data-width="67%"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="progress-bar">
                                    <div class="bar-data">
                                        <span class="bar-title">PHP & MySQL</span>
                                        <span class="bar-value">99%</span>
                                    </div>
                                    <div class="bar-line">
                                        <span class="bar-fill" data-width="54%"></span>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-sm-6">
                                <div class="progress-bar">
                                    <div class="bar-data">
                                        <span class="bar-title">Photoshop</span>
                                        <span class="bar-value">97%</span>
                                    </div>
                                    <div class="bar-line">
                                        <span class="bar-fill" data-width="80%"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- #skills -->