<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><h4 style="color: #337ab7;"><strong>ADMIN - Page</strong></h4></a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
    <% if logged_in? %>
    <li>
      <%=  link_to logout_path, method: "delete" do%><i class="fa fa-sign-out fa-fw"></i> Log Out<% end %>
    </li>
    <!-- put else here if there are any -->
    <% end %> 
    <!-- end logged_in user -->
</ul>
<!-- /.navbar-top-links -->