<div class="navbar-default sidebar" role="navigation" style="width: 170px;">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu"  style="margin-left: 0px;">
            <% if logged_in? %>
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Personal App<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" style="margin-left: 0px;">
                    <li> <%= link_to "About", '#' %> </li>
                    <li> <%= link_to "Skills", '#' %> </li>
                    <li> <%= link_to "Portfolio", '#' %> </li>
                    <li> <%= link_to "Experience", '#' %> </li>
                    <li> <%= link_to "Education", '#' %> </li>
                    <li> <%= link_to "Tect-Section", '#' %> </li>
                    <li> <%= link_to "Interest", '#' %> </li>
                    <li> <%= link_to "Contact", '#' %> </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <%=  link_to '#' do%><i class="fa fa-file fa-fw"></i> Blog<% end %>
            </li>
            <% end %>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->

