
<html lang="en">

<head>
    <title><%= admin_title(yield(:title)) %></title>
    <%= favicon_link_tag 'favicon.png' %>
    
	<%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin_application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" >
            <!-- Header -->
            <%= render 'layouts/header-admin' %>
            <!-- Header -->

            <!-- Sidebar -->
            <%= render 'layouts/sidebar-admin' %>
            <!-- SIdebar -->
        </nav>

        <div id="page-wrapper" style="margin-left: 170px;">
            <%= yield %>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



</body>

</html>
