
<html lang="en" class="theme-color-e83b35 theme-skin-light">
<head>
    <title><%= full_title(yield(:title)) %></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- LINK CSS StyleSheet -->

      <!-- Favicon -->
      <!-- Change the picture to see it refreshed in the browser -->
      <%= favicon_link_tag 'favicon.png' %>

      <!-- Google Fonts -->
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fredoka+One">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic">

      <!-- Icon Fonts -->
      <link rel="stylesheet" type="text/css" href="../fonts/map-icons/css/map-icons.min.css">
      <link rel="stylesheet" type="text/css" href="../fonts/icomoon/style.css">

      <!-- Styles -->
      <link rel="stylesheet" type="text/css" href="../js/plugins/jquery.bxslider/jquery.bxslider.css">
      <link rel="stylesheet" type="text/css" href="../js/plugins/jquery.customscroll/jquery.mCustomScrollbar.min.css">
      <link rel="stylesheet" type="text/css" href="../js/plugins/jquery.mediaelement/mediaelementplayer.min.css">
      <link rel="stylesheet" type="text/css" href="../js/plugins/jquery.fancybox/jquery.fancybox.css">
      <link rel="stylesheet" type="text/css" href="../js/plugins/jquery.owlcarousel/owl.carousel.css">
      <link rel="stylesheet" type="text/css" href="../js/plugins/jquery.owlcarousel/owl.theme.css">
      
      <!-- Modernizer for detect what features the user’s browser has to offer -->
      <script type="text/javascript" src="../js/libs/modernizr.js"></script>
</head>

<body class="home header-has-img loading">
    <!-- .mobile-nav -->
    <%= render 'layouts/nav' %>
    <!-- .mobile-nav -->
    
    <!-- .sidebar -->
    <!-- sidebar content if nav opened -->
    <%= render 'layouts/sidebar' %>
    <!-- .sidebar -->

    <div class="wrapper">
        <!-- .header -->
        <%= render 'layouts/header' %>
        <!-- .header -->
        
        <div class="content">
            <div class="container">
            <!-- START: PAGE CONTENT -->
            
            
            <!-- render it partially but still not a good practices. It's BAAAD practices -->
            <%= render 'single_page/about' %>
            <%= render 'single_page/skills' %>
            <%= render 'single_page/portfolio' %>
            <%= render 'single_page/experience' %>
            <%= render 'single_page/education' %>
            <%= render 'single_page/blog-section' %>
            <%= render 'single_page/text-section' %>
            <%= render 'single_page/interest' %>
            <%= render 'single_page/contact' %>
            
            <!-- END  : PAGE CONTENT -->
        </div> <!-- .container -->
    </div> <!-- .content -->
    
    <!-- .footer -->
    <%= render 'layouts/footer' %>
    <!-- .footer -->
  
    </div>
    <!-- .wrapper -->
    
    <a class="btn-scroll-top" href="#"><i class="rsicon rsicon-arrow-up"></i></a>
    
    <div id="overlay"></div>
    <div id="preloader">
        <div class="preload-icon"><span></span><span></span></div>
        <div class="preload-text">Loading ...</div>
    </div>
    
<!-- Scripts -->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
      <script type="text/javascript" src="../fonts/map-icons/js/map-icons.min.js"></script>
      <script type="text/javascript" src="../js/plugins/jquery.mousewheel-3.0.6.pack.js"></script>
      <script type="text/javascript" src="../js/plugins/imagesloaded.pkgd.min.js"></script>
      <script type="text/javascript" src="../js/plugins/isotope.pkgd.min.js"></script>
      <script type="text/javascript" src="../js/plugins/jquery.appear.min.js"></script>
      <script type="text/javascript" src="../js/plugins/jquery.onepagenav.min.js"></script>
      <script type="text/javascript" src="../js/plugins/jquery.bxslider/jquery.bxslider.min.js"></script>
      <script type="text/javascript" src="../js/plugins/jquery.customscroll/jquery.mCustomScrollbar.concat.min.js"></script>
      <script type="text/javascript" src="../js/plugins/jquery.mediaelement/mediaelement-and-player.min.js"></script>
      <script type="text/javascript" src="../js/plugins/jquery.fancybox/jquery.fancybox.pack.js"></script>
      <script type="text/javascript" src="../js/plugins/jquery.fancybox/helpers/jquery.fancybox-media.js"></script>
      <script type="text/javascript" src="../js/plugins/jquery.owlcarousel/owl.carousel.min.js"></script>
      <script type="text/javascript" src="../js/options.js"></script>
      <script type="text/javascript" src="../js/site.min.js"></script>

</body>
</html>