
<html lang="en">

<head>
    <title><%= admin_title(yield(:title)) %></title>
    <%= favicon_link_tag 'favicon.png' %>
    
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin_application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>

    <div id="wrapper">
        <%= yield %>
    </div>
    <!-- /#wrapper -->



</body>

</html>
